/* Put your custom CSS here */
html {
	-ms-touch-action: none;
}

body {
	font-size: 12px;
	font-family: ubuntu, helvetica, arial;
	overflow: hidden; /* this is important to prevent the whole page to bounce */
	background: #DCDCDC;
}

#header {
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;

    background-color: #ccc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
    border-bottom: 1px solid #666;
}
#header h1 {
    margin: 0;
    padding: 10px 0;
    color: #222;
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 1px 0px #fff;
}

#header .left {
    position: absolute;   
    top: 7px;
    left: 6px;
    width:auto;
    z-index: 1;
}

#header .left2 {
    position: absolute;
    top: 6px;
    left: 20px;   
    z-index: 1;
}

#header .right {
    position: absolute;
    top: 7px;
    right: 6px;
    z-index: 1;
}


#header a {
    width: auto;
    min-width: 90px;    
    height: 70px; 
    margin: 0;
    padding: 0 5px;
    overflow: hidden;

    line-height: 70px;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-overflow: ellipsis;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;

    color: #fff;
    background: none;
    background-image: -webkit-gradient(linear, left top, left bottom,
        color-stop(0, #8ea4c1),
        color-stop(0.5, #5877a2),
        color-stop(0.5, #476999),
        color-stop(1, #4a6c9b));
    -webkit-border-radius: 6px;
    border: 1px solid #45505d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25),
                        0 1px 0 rgba(255, 255, 255, 0.25);
}
#content {
    width: 100%;
    margin: 0;
    padding: 0;
}

#wrapper {
	position: absolute;
	z-index: 1;
	top: 82px; 
	bottom: 48px;
	left: 0;
	width: 100%;
	background: #ccc;
	overflow: hidden;
}

#scroller {
	 position:absolute; 
	 z-index:1;
/*  -webkit-touch-callout:none;*/
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width:100%;
    padding:0;	
    background: #ccc;
}

#scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: left;
}

#scroller li {
	padding: 0 10px;	
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	background-color: #fafafa;
	font-size: 14px;
}


#busy {
	display:none;
	position: absolute;
	top: 50%;
 	left: 50%;
	margin-left: -65px;
	margin-top: -31px;
	color: #FFFFFF;
	font-size: 24px;	
	z-index:6;
	background-color: #000000;
	opacity:0.5;
 	width:100px;
	height:32px;
	padding: 30px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	
}

#footer
{
	position:absolute;
    bottom:0;
    width:100%;
    height: 20px;
   
    margin: 0;
    padding: 0;

    background-color: #ccc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
    border-bottom: 1px solid #666;
    
   color: #222;
   display: block;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 1px 0px #fff;
}

#captureImage{
	
}

#capture a{
    width: auto;
    min-width: 40px;    
    max-width:100px;
    height: 30px; 
    margin: 0;
    padding: 0 5px;
    overflow: hidden;

    line-height: 30px;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-overflow: ellipsis;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;

    color: #fff;
    background: none;
    background-image: -webkit-gradient(linear, left top, left bottom,
        color-stop(0, #8ea4c1),
        color-stop(0.5, #5877a2),
        color-stop(0.5, #476999),
        color-stop(1, #4a6c9b));
    -webkit-border-radius: 6px;
    border: 1px solid #45505d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25),
                        0 1px 0 rgba(255, 255, 255, 0.25);

}

#capture img{
	width:100x;
	height:100px;
}

#title{	
	font-family: inherit;
    font-size: 18px;
    font-weight: bold;    
    background: #DCDCDC;
	 height:45px;
}

#objectivetitle{
	width:100%;
	background: #DCDCDC;font-family: inherit;
    font-size: 20px;
    font-weight: bold;    
    background: #DCDCDC;
	height:45px;
}
