<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "msm.granteedirectory"
        versionCode="10"
        version   = "1.0.1">

    <!-- versionCode is optional and Android only -->

    <name>Grantee Directory</name>

    <description>
        A grantee directory application
    </description>

    <author href="http://grantee.com" email="grantee@msm.com">
        Grantee
    </author>

</widget>
