<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "msm.granteedirectory"
        versionCode="10"
        version   = "1.0.1">

    <!-- versionCode is optional and Android only -->

    <name>masema</name>

    <description>
        The vaccine and savings game
    </description>

    <author href="http://masema.org" email="info@simha.org">
        masema
    </author>
    <preference name="phonegap-version" value="2.9.0" />
	<icon src="icon.png" />

</widget>
